/* Base styles : typographie et couleurs globales */

body, html {
    height: 100%;
    font-family: 'Georgia', serif;
    font-size: 20px;
    line-height: 28px;
    background-color: #e8e8e8;
  }
  
  h1 {
    color: #fff;
    font-weight: 100;
  }
  