.legal-content h2 {
  text-align: center;
  line-height: 4rem;
  margin: 30px auto 70px auto;
}

.legal-content h3 {
  margin: 40px 0 10px 0 !important;
}



#actus-modal,
#legal-modal,
#cookies-modal,
#privacy-modal,
#terms-modal {
  display: none !important;
  position: fixed;
  top: 0; left: 0; width: 100vw; height: 100vh;
  background: rgba(0,0,0,0.85);
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
#actus-modal.active,
#legal-modal.active,
#cookies-modal.active,
#privacy-modal.active,
#terms-modal.active {
  display: flex !important;
}

#actus-modal .legal-content,
#legal-modal .legal-content,
#cookies-modal .legal-content,
#privacy-modal .legal-content,
#terms-modal .legal-content {
  background: #fff;
  color: #222;
  border-radius: 10px;
  max-width: 600px;
  width: 94%;
  margin: auto;
  padding: 2.5rem 1.5rem;
  position: relative;
  box-shadow: 0 2px 24px rgba(0,0,0,0.35);
  max-height: 95vh;     /* <--- plus grand, modifiable à volonté */
  overflow-y: auto;
}

#actus-modal .close-btn,
#legal-modal .close-btn,
#cookies-modal .close-btn,
#privacy-modal .close-btn,
#terms-modal .close-btn {
  position: absolute;
  top: 12px;
  right: 18px;
  font-size: 3rem;
  color: #6a6a6a;
  cursor: pointer;
  background: none;
  border: none;
  line-height: 1;
  user-select: none;
}
