/* Navigation */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #fff;
    z-index: 1000;
    transition: top 0.3s ease-in-out;
  }
  
  .navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    z-index: 10;
    font-family: 'Exo 2', sans-serif;
    font-size: 12px;
    font-weight: 100;
    background-color: #f6f6f6;
  }
  
  .navbar a {
    margin: 0 15px;
    text-decoration: none;
    color: #5b5b5b;
    font-weight: bold;
    padding: 8px 12px;
    border: 2px solid transparent;
    box-sizing: border-box;
    transition: background 0.5s, color 0.5s, border-color 0.5s;
  }
  
  .navbar a.active,
  .navbar a:hover {
    background: rgba(255, 255, 255, 0.8);
    color: #000;
    border-color: #000;
  }
  
  .connect {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #226569 !important;
    font-weight: normal !important;
  }
  
  .navbar .connexion {
    display: flex;
    align-items: center;
    color: #006b8f;
    font-weight: normal;
  }
  
  .navbar .connexion img {
    width: 24px;
    height: 24px;
    margin-right: 6px;
  }
  
  #user {
    margin-left: 50px;
    height: 30px;
  }
  
  
  