/* ===== Variables CSS ===== */
:root {
    --clr-primary: #000;
    --clr-secondary: #c8c8c8;
    --clr-tertiary: #ffffff;
    --clr-bg-form: #fff;
    --font-title: 'Exo 2', sans-serif;
    --radius: 8px;
  }